@using Nexus.Blazor.Components.DropDown
@using NexusCore

@inject NexusApp nexusApp

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Welkom @nexusApp.currentUser.Name</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        @foreach (var menuItem in nexusApp.menuItems)
        {
            <NexusDropDown Text="@menuItem.Text">
                @foreach (var subItem in menuItem.Childs)
                {
                    if (subItem.Childs != null && subItem.Childs.Count > 0)
                    {
                        <NexusDropDownOption>
                            <NexusDropDown Text="@subItem.Text">
                                @foreach (var subSubItem in subItem.Childs)
                                {
                                    <NexusDropDownOption Href="@GetHref(subSubItem)">
                                        @subSubItem.Text
                                    </NexusDropDownOption>
                                }
                            </NexusDropDown>
                        </NexusDropDownOption>
                    }
                    else
                    {
                        <NexusDropDownOption Href="@GetHref(subItem)">
                            @subItem.Text
                        </NexusDropDownOption>
                    }
                }
            </NexusDropDown>
        }
    </nav>
</div>

@code {
    private string GetHref(MenuItem menuItem)
    {
        if (menuItem.packet is null)
            return "";

        return $"view/{menuItem.packet.packetType}";
    }
}
